[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
python-dotenv = "*"
gunicorn = "*"
psycopg2 = "*"
flask-migrate = "*"
flask-script = "*"
requests = "*"

[requires]
python_version = "3.7"
